@model EmployeeCustomProperties.Models.Employee

@{
    ViewData["Title"] = "Create Employee";
    var properties = ViewBag.Properties as List<EmployeeCustomProperties.Models.Property>;
}

<h2>Create Employee</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <hr />
    <h4>Custom Properties</h4>

    @foreach (var prop in properties)
    {
        <div class="form-group">
            <label>@prop.Name</label>

            @if (prop.Type == EmployeeCustomProperties.Models.PropertyType.String )
            {
                <input type="text" name="propertyValues[@prop.Id]" class="form-control" />
            }
            else if (prop.Type == EmployeeCustomProperties.Models.PropertyType.Integer)
            {
            <input type="number" name="propertyValues[@prop.Id]" class="form-control" />
            }
            else if (prop.Type == EmployeeCustomProperties.Models.PropertyType.Date)
            {
                <input type="date" name="propertyValues[@prop.Id]" class="form-control" />
            }
            else if (prop.Type == EmployeeCustomProperties.Models.PropertyType.Dropdown)
            {
                <select name="propertyValues[@prop.Id]" class="form-control">
                    <option value="" disabled>-- Select --</option>
                    @foreach (var option in prop.DropdownOptions)
                    {
                        <option value="@option.Value">@option.Value</option>
                    }
                </select>
            }

            @if (prop.IsRequired)
            {
                <span class="text-danger">* Required</span>
            }
        </div>
    }

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
